.divider {
    height: 3rem;
    background-color: rgba(128, 128, 128, 0.212); /*any color with lower opacity*/
    border: solid rgba(0, 0, 0, 0.205);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}